<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICreateEmployeeAndAddRemarks" />
                <binding name="WSHttpBinding_IRetrieve" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49358/CreateEmployee.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICreateEmployeeAndAddRemarks"
                contract="EmployeeManagementService.ICreateEmployeeAndAddRemarks"
                name="WSHttpBinding_ICreateEmployeeAndAddRemarks">
                <identity>
                    <userPrincipalName value="spande@pune.tavisca.com" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:49358/CreateEmployee.svc/ws"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IRetrieve"
                contract="EmployeeManagementService.IRetrieve" name="WSHttpBinding_IRetrieve">
                <identity>
                    <userPrincipalName value="spande@pune.tavisca.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>